.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  padding: $s-size;
  font-weight: 300;
  font-size: 1.8rem;
  font-family: 'Raleway';
}

.select {
  @extend .text-input;
  background: $google-blue;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: darken($google-blue, 10%);
  }
}

.textarea {
  @extend .text-input;
  height: 10rem;
}